*{
    margin: 0px; margin-left: 0px; margin-right: 0px;
    box-sizing: border-box;
    background-color: chartreuse;
    
}
header{
    width: 1600px;
    height: 100px;
    padding: 10px;
    border-bottom: 10px solid white;
    
}

.new{
    width: 200px;
    height: 510px ;
    border-right: 10px solid white ;       
    padding: 10px;
    float: left;
    
    
}
.new1{
    width: 1309px;
    height: 300px ;
    border-bottom: 10px solid white;  
    padding: 10px;
    
    
    }
section{
    width: 1309px;
    height: 200px ;
    padding: 10px;
    
}
footer{
    border-top: 10px solid white;
    width: 1600px;
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    
    
}